# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
# Your code here:
salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head(60)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,$107790.00,NaN
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$114324.00,NaN
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,$76932.00,NaN
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,$111474.00,NaN
5,"DUBERT, TOMASZ",PARAMEDIC I/C,FIRE,F,Salary,NaN,$91080.00,NaN
6,"EDWARDS, TIM P",LIEUTENANT,FIRE,F,Salary,NaN,$114846.00,NaN
7,"ELKINS, ERIC J",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
8,"ESTRADA, LUIS F",POLICE OFFICER,POLICE,F,Salary,NaN,$96060.00,NaN
9,"EWING, MARIE A",CLERK III,POLICE,F,Salary,NaN,$53076.00,NaN
10,"FINN, SEAN P",FIREFIGHTER,FIRE,F,Salary,NaN,$87006.00,NaN
11,"FITCH, JORDAN M",LAW CLERK,LAW,F,Hourly,35.0,NaN,$14.51
12,"FREELON, CHERYL N",POLICE OFFICER,POLICE,F,Salary,NaN,$96060.00,NaN
13,"GRAFF, KEVIN M",SERGEANT,POLICE,F,Salary,NaN,$111474.00,NaN
14,"GUNN, ISSAC J",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,$80868.00,NaN
15,"HARRIS, DANIEL J",POLICE OFFICER,POLICE,F,Salary,NaN,$48078.00,NaN
16,"HATTULA, CARL J",SERGEANT,POLICE,F,Salary,NaN,$107988.00,NaN
17,"HILL, LATINA P",PARAMEDIC,FIRE,F,Salary,NaN,$72510.00,NaN
18,"HOLLER, JOEL P",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
19,"HROMA JR, JOHN",SERGEANT,POLICE,F,Salary,NaN,$107988.00,NaN
20,"JACKSON, ERIC",SERGEANT,POLICE,F,Salary,NaN,$107988.00,NaN
21,"JOYCE, SEAN G",CAPTAIN,POLICE,F,Salary,NaN,$132876.00,NaN
22,"KING, WARSHAW",CAPTAIN-EMT,FIRE,F,Salary,NaN,$136794.00,NaN
23,"KWONG, NORMAN P",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
24,"LEVEK, NATHAN L",PARAMEDIC,FIRE,F,Salary,NaN,$72510.00,NaN
25,"MACK, PAUL C",LIEUTENANT,POLICE,F,Salary,NaN,$125190.00,NaN
26,"PETERS, JOSEPH M",PARAMEDIC,FIRE,F,Salary,NaN,$72510.00,NaN
27,"MOORE, TED D",POLICE OFFICER,POLICE,F,Salary,NaN,$87006.00,NaN
28,"SIMON, JOSEPH G",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
29,"MULLINS, JOHN T",PARAMEDIC,FIRE,F,Salary,NaN,$72510.00,NaN
30,"NICOL, EDWARD R",SERGEANT,POLICE,F,Salary,NaN,$107988.00,NaN
31,"PEASLEE, SEAN P",PARAMEDIC,FIRE,F,Salary,NaN,$72510.00,NaN
32,"PESO, JOANN M",DIR OF NUTRITION,HEALTH,F,Salary,NaN,$93876.00,NaN
33,"SPIRES, WAYNE E",CAPTAIN,FIRE,F,Salary,NaN,$128970.00,NaN
34,"RICHARDSON, BRIAN J",DEPUTY COMMISSIONER,HEALTH,F,Salary,NaN,$119772.00,NaN
35,"ROBINSON, HAROLD",POLICE OFFICER,POLICE,F,Salary,NaN,$93354.00,NaN
36,"RUIZ, ERACLIO",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
37,"SANTOS, MICHAEL J",SERGEANT,POLICE,F,Salary,NaN,$107988.00,NaN
38,"TOLEDO, PETER H",SERGEANT,POLICE,F,Salary,NaN,$101442.00,NaN
39,"VORTES, VELMA",CLERK IV,FIRE,F,Salary,NaN,$70092.00,NaN
40,"SKOL, LARRY W",SERGEANT,POLICE,F,Salary,NaN,$107988.00,NaN
41,"SMITH, KEVIN W",FIREFIGHTER,FIRE,F,Salary,NaN,$87006.00,NaN
42,"STRAKA, SCOTT M",POLICE OFFICER,POLICE,F,Salary,NaN,$93354.00,NaN
43,"TRAGOS, THOMAS J",CAPTAIN,FIRE,F,Salary,NaN,$128970.00,NaN
44,"VOSBURGH, GRANT",PARAMEDIC,FIRE,F,Salary,NaN,$72510.00,NaN
45,"VANEK, AMANDA J",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
46,"VEGA, ANA L",POLICE OFFICER,POLICE,F,Salary,NaN,$87006.00,NaN
47,"WORD, HOSEA",SERGEANT,POLICE,F,Salary,NaN,$107988.00,NaN
48,"YARLING, ZACHARY",POLICE OFFICER,POLICE,F,Salary,NaN,$80016.00,NaN
49,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,$101442.00,NaN
50,"AARON, KARINA",POLICE OFFICER,POLICE,F,Salary,NaN,$87006.00,NaN
51,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,$97056.00,NaN
52,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,$110064.00,NaN
53,"ABARCA, ANABEL",SENIOR POLICY ANALYST,HEALTH,F,Salary,NaN,$79284.00,NaN
54,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,$19.66
55,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,$50436.00,NaN
56,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,$46.10
57,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,$35.60
58,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,$103350.00,NaN
59,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,$93354.00,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.isna().sum()
# 'Salary or Hourly' determines what data must be filled in the columns 'Typical Hours', 'Annual Salary', 'Hourly Rate.

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        24775
Annual Salary         7883
Hourly Rate          24775
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
print('Number of salaried employees:', len(salaries[salaries['Salary or Hourly']=='Salary']))
print('Number of hourly employees:', len(salaries[salaries['Salary or Hourly']=='Hourly']))

Number of salaried employees: 24775
Number of hourly employees: 7883

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
salaries.groupby(['Department']).agg({'Name': 'count'})

                        Name
Department
ADMIN HEARNG              38
ANIMAL CONTRL             73
AVIATION                1612
BOARD OF ELECTION        112
BOARD OF ETHICS            8
BUDGET & MGMT             44
BUILDINGS                266
BUSINESS AFFAIRS         168
CITY CLERK                85
CITY COUNCIL             400
COMMUNITY DEVELOPMENT    214
COPA                      17
CULTURAL AFFAIRS          76
DISABILITIES              29
DoIT                     101
FAMILY & SUPPORT         621
FINANCE                  575
FIRE                    4800
GENERAL SERVICES         972
HEALTH                   516
HUMAN RELATIONS           17
HUMAN RESOURCES           68
INSPECTOR GEN             63
IPRA                      56
LAW                      405
LICENSE APPL COMM          1
MAYOR'S OFFICE            85
OEMC                    2044
POLICE                 12973
POLICE BOARD               2
PROCUREMENT               86
PUBLIC LIBRARY           932
STREETS & SAN           2194
TRANSPORTN              1103
TREASURER                 24
WATER MGMNT             1878

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [88]:
# Your code here
# Two-tailed test
# Null hypothesis H0: Hourly wage of hourly workers is $30/hr
# Alternative hypothesis H1: Hourly wage of hourly workers is significantly different from $30/hr
hourly_workers=salaries[salaries['Salary or Hourly']=='Hourly']
hourly_workers['Hourly Rate']=list(map(lambda x: x.replace('$', ''), hourly_workers['Hourly Rate']))
hourly_workers['Hourly Rate']=list(map(float, hourly_workers['Hourly Rate']))
hourly_rates=hourly_workers['Hourly Rate']

import scipy.stats

confidence_level = 0.95
degrees_freedom = len(hourly_rates) - 1
sample_mean = np.mean(hourly_rates)
sample_standard_error = scipy.stats.sem(hourly_rates)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print( 'confidence interval is ', confidence_interval, '.' )

from scipy.stats import ttest_1samp
print('stat is  ', stat)
stat, pval = ttest_1samp(hourly_rates, 30)
print('pvalue for the two-tailed test is ', pval)
# Since p-value is very low (<0.05) we reject H0 (hourly wage is $30/hr)

confidence interval is  (32.60050319432687, 33.135881430818976) .
stat is   21.003532193332216
pvalue for the two-tailed test is  2.4048011351057683e-95

C:\Users\Usuario\AppData\Local\Temp/ipykernel_3164/1459533786.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hourly_workers['Hourly Rate']=list(map(lambda x: x.replace('$', ''), hourly_workers['Hourly Rate']))
C:\Users\Usuario\AppData\Local\Temp/ipykernel_3164/1459533786.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hourly_workers['Hourly Rate']=list(map(float, hourly_workers['Hourly Rate']))

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [89]:
# Your code here:
# One-tailed test
# Null hypothesis H0: Salaries of department of police are $86000/year
# Alternative hypothesis H1: Salaries of department of police are higher than $86000/year
police_salaries=salaries[((salaries['Department']=='POLICE') & (salaries['Salary or Hourly']=='Salary'))]
police_salaries['Annual Salary']=list(map(lambda x: x.replace('$', ''), police_salaries['Annual Salary']))
police_salaries['Annual Salary']=list(map(float, police_salaries['Annual Salary']))
salary_rates=police_salaries['Annual Salary']

confidence_level = 0.95
degrees_freedom = len(salary_rates) - 1
sample_mean = np.mean(salary_rates)
sample_standard_error = scipy.stats.sem(salary_rates)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print( 'confidence interval is ', confidence_interval, '.' )

from scipy.stats import ttest_1samp
print('stat is  ', stat)
stat, pval = ttest_1samp(salary_rates, 86000)
print('pvalue for the one-tailed test is ', pval/2)
# Since p-value is very low (<0.05) we reject H0 (mean salary is $86000/year)

confidence interval is  (87549.78923170577, 88122.26146607645) .
stat is   21.003532193332216
pvalue for the one-tailed test is  2.4100985740030478e-36

C:\Users\Usuario\AppData\Local\Temp/ipykernel_3164/239142254.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  police_salaries['Annual Salary']=list(map(lambda x: x.replace('$', ''), police_salaries['Annual Salary']))
C:\Users\Usuario\AppData\Local\Temp/ipykernel_3164/239142254.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  police_salaries['Annual Salary']=list(map(float, police_salaries['Annual Salary']))

Using the `crosstab` function, find the department that has the most hourly workers.

In [66]:
# Your code here:
data_crosstab = pd.crosstab(salaries['Department'], salaries['Salary or Hourly'], margins = False)
data_crosstab[data_crosstab['Hourly']==data_crosstab['Hourly'].max()]

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1873     321

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [96]:
# Your code here:
# One-tailed test
# Null hypothesis H0: hourly wage of workers of department STREETS & SAN is $35/hr
# Alternative hypothesis H1: hourly wage of workers of department STREETS & SAN is less $35/hr
hourly_workers=salaries[((salaries['Department']=='STREETS & SAN') & (salaries['Salary or Hourly']=='Hourly'))]
hourly_workers['Hourly Rate']=list(map(lambda x: x.replace('$', ''), hourly_workers['Hourly Rate']))
hourly_workers['Hourly Rate']=list(map(float, hourly_workers['Hourly Rate']))
hourly_rates=hourly_workers['Hourly Rate']

confidence_level = 0.95
degrees_freedom = len(hourly_rates) - 1
sample_mean = np.mean(hourly_rates)
sample_standard_error = scipy.stats.sem(hourly_rates)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print( 'confidence interval is ', confidence_interval, '.' )

from scipy.stats import ttest_1samp
print('stat is  ', stat)
stat, pval = ttest_1samp(hourly_rates, 35)
print('pvalue for the two-tailed test is ', pval)
# Since p-value is very low (<0.05) we reject H0 (hourly wage is $35/hr)

confidence interval is  (33.81222579024323, 34.32230704477966) .
stat is   0.5172707341995233
pvalue for the two-tailed test is  1.0552486304260417e-12

C:\Users\Usuario\AppData\Local\Temp/ipykernel_3164/3142162723.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hourly_workers['Hourly Rate']=list(map(lambda x: x.replace('$', ''), hourly_workers['Hourly Rate']))
C:\Users\Usuario\AppData\Local\Temp/ipykernel_3164/3142162723.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hourly_workers['Hourly Rate']=list(map(float, hourly_workers['Hourly Rate']))

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [108]:
# Your code here:
hourly_workers=salaries[salaries['Salary or Hourly']=='Hourly']
hourly_workers['Hourly Rate']=list(map(lambda x: x.replace('$', ''), hourly_workers['Hourly Rate']))
hourly_workers['Hourly Rate']=list(map(float, hourly_workers['Hourly Rate']))
hourly_rates=hourly_workers['Hourly Rate']
confidence_level = 0.95
degrees_freedom = len(hourly_rates) - 1
sample_mean = np.mean(hourly_rates)
sample_standard_error = scipy.stats.sem(hourly_rates)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (32.60050319432687, 33.135881430818976) .

C:\Users\Usuario\AppData\Local\Temp/ipykernel_3164/3213716794.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hourly_workers['Hourly Rate']=list(map(lambda x: x.replace('$', ''), hourly_workers['Hourly Rate']))
C:\Users\Usuario\AppData\Local\Temp/ipykernel_3164/3213716794.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hourly_workers['Hourly Rate']=list(map(float, hourly_workers['Hourly Rate']))

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [109]:
# Your code here:
police_salaries=salaries[((salaries['Department']=='POLICE') & (salaries['Salary or Hourly']=='Salary'))]
police_salaries['Annual Salary']=list(map(lambda x: x.replace('$', ''), police_salaries['Annual Salary']))
police_salaries['Annual Salary']=list(map(float, police_salaries['Annual Salary']))
salary_rates=police_salaries['Annual Salary']

confidence_level = 0.95
degrees_freedom = len(salary_rates) - 1
sample_mean = np.mean(salary_rates)
sample_standard_error = scipy.stats.sem(salary_rates)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (87549.78923170577, 88122.26146607645) .

C:\Users\Usuario\AppData\Local\Temp/ipykernel_3164/273968147.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  police_salaries['Annual Salary']=list(map(lambda x: x.replace('$', ''), police_salaries['Annual Salary']))
C:\Users\Usuario\AppData\Local\Temp/ipykernel_3164/273968147.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  police_salaries['Annual Salary']=list(map(float, police_salaries['Annual Salary']))

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [134]:
# Your code here:
# Null hypothesis H0: p= 25
# Alternative Hypothesis H1: p≠ 25
from statsmodels.stats.proportion import proportions_ztest
stat, pval = proportions_ztest(count=len(salaries[salaries['Salary or Hourly']=='Hourly']), nobs=len(salaries), value=0.25, alternative='two-sided')
stat, pval

(-3.6401610358268113, 0.0002724675813939414)

In [ ]:
# Since p-value=0.00027 is less than α = 0.05, we reject the null hypothesis, and we conclude the number of hourly workers in the City 
# of Chicago is significantly different from 25%